.product-detail{
    text-align: center;
    
    min-height: 100vh;
    background: black;
    color: white;
    padding: 50px;
    flex: 1;
    flex-wrap: wrap;
}

.product-detail p{
    position: relative;
    top: 50%;
    background: rgba(0,0,0,0.9)
}
