.products{
    display: flex;
    min-height: 100vh;
    background: black;
    color: green;
    padding: 50px;
    flex: 1;
    flex-wrap: wrap;
  }

  h2{
    font-size: small;
    color: green;
  }

  h3 {
    color: green;
  }