nav{
    background: white;
    background-image: url(./pexels-photo-sidebar.jpeg);
    background-size: cover;
    background-position: center;
    width: 300px;
    min-height: 100vh;
    padding: 50px;
    color: white;
  }

  navtopbar {
    background: white;
    /*background-image: url(./pexels-photo-sidebar.jpeg);*/
    background-size: cover;
    background-position: center;
    width: 300px;
    min-height: 100vh;
    padding: 50px;
    color: white;
  }
  
  nav a{
    display: block;
    background: black;
    margin-bottom: 10px;
    color: white;
    padding: 10px;
    text-decoration: none;
  }
nav a.active{
  background: black;
  color: white;
}
  